* {
  margin: 0;
  padding: 0;
  font-family: 'Bangers', sans-serif;
}

#canvas1 {
  position: absolute;
}

.controls {
  margin: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

img {
  display: none;
}

.controls > button {
  padding: 10px;
  font-size: 40px;
  color: white;
  background-color: black;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}

.controls > button:hover {
  background-color: white;
  color: black;
}

.controls input {
  cursor: pointer;
  margin-bottom: 0.5rem;
}
